body{
   background: linear-gradient(314deg, rgba(149, 0, 255, 0.392), rgba(105, 195, 222, 0.632));
   background-repeat: no-repeat;
   background-attachment: fixed;
}
div{
    position: relative;
} 

body{
    font-size: small;
}
.container{
    background: white;
    margin-top: 5%;
    padding: 10px;
    max-width: 800px;
    width: 100%;
    height: 100%;
}
.box{
    margin: 2%;
}
.required{
    font-weight: bold ;
}

.required:after{
    content: "*";
    color: red;
    
}

.head div.col{
    text-align: center;
}

.row input{
    width: 100%;
}


.additional{
    width: 100%;
}

.darkrow{
    background-color: rgba(208, 207, 207, 0.324);   
    
}

.table{
    
    margin-top: 3%;
    margin-bottom: 3%;
}

.table .row{
    padding: 5px;   
}
.table .col{
    align-self: center;
}

.details{
    margin-top: 2%;
}
.submitButton{
    border: 1px solid rgba(0, 0, 0, 0.139);

}

.rating{
    display: inline-block;
    position: relative;
    height: 40px;
    direction: rtl;
   
}


.rating input{
    display: none;
}
.rating label{
    position: relative;
    cursor: pointer;
    width: 50px;
    
}



.rating label:before{
    position: absolute;
    content: '\f005';
    font-family: fontAwesome;
    font-size: 20px;
    color: grey;
    
}

.rating label:after{
    position: absolute;
    content: '\f005';
    font-family: fontAwesome;
    font-size: 20px;
    color: orange;
    opacity: 0;
}


.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
    
    opacity: 1;
}


.borderRating{
    display: inline-block;
    position: relative;
    
}

