.container{
  width: 100%;
  background-color: rgb(181, 245, 245);
}
.required:after{
  content: "*";
  color: red;
}

.table-div{
  width: 1000px;
}

.table{
  position: relative;
  border: 1px solid red;
  max-width: 700px;
  width: 100%;
}
